# Question 1
Create a function that takes a number as an argument and returns True or False depending <br>
on whether the number is symmetrical or not. A number is symmetrical when it is the same as <br>
its reverse. <br>
Examples <br>
is_symmetrical(7227) ➞ True <br>
is_symmetrical(12567) ➞ False <br>
is_symmetrical(44444444) ➞ True <br>
is_symmetrical(9939) ➞ False <br>
is_symmetrical(1112111) ➞ True <br>

In [1]:
def is_symmetrical(num):
    return str(num) == str(num)[::-1]

print(is_symmetrical(7227))  
print(is_symmetrical(12567))  
print(is_symmetrical(44444444))  
print(is_symmetrical(9939))  
print(is_symmetrical(1112111))

True
False
True
False
True

# Question 2
Given a string of numbers separated by a comma and space, return the product of the <br>
numbers. <br>
Examples <br>
multiply_nums(&quot;2, 3&quot;) ➞ 6 <br>
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24 <br>
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0 <br>
multiply_nums(&quot;10, -2&quot;) ➞ -20 <br>

In [2]:
def multiply_nums(nums):
    numbers = [int(num) for num in nums.split(', ')]
    product = 1
    for num in numbers:
        product *= num
    return product

# Example 
print(multiply_nums("2, 3")) 
print(multiply_nums("1, 2, 3, 4")) 
print(multiply_nums("54, 75, 453, 0"))  
print(multiply_nums("10, -2"))

6
24
0
-20

# Question 3
Create a function that squares every digit of a number. <br>
Examples <br>
square_digits(9119) ➞ 811181 <br>
square_digits(2483) ➞ 416649 <br>
square_digits(3212) ➞ 9414 <br>
Notes <br>
The function receives an integer and must return an integer. <br>

In [3]:
def square_digits(num):
    result = ""
    for digit in str(num):
        square = int(digit) ** 2
        result += str(square)
    return int(result)

# Example
print(square_digits(9119)) 
print(square_digits(2483))  
print(square_digits(3212))

811181
416649
9414

# Question 4
Create a function that sorts a list and removes all duplicate items from it. <br>
Examples <br>
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5] <br>
setify([4, 4, 4, 4]) ➞ [4] <br>
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15] <br>
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3] <br>

In [4]:
def setify(lst):
    return sorted(list(set(lst)))

# Example test cases
print(setify([1, 3, 3, 5, 5]))  
print(setify([4, 4, 4, 4])) 
print(setify([5, 7, 8, 9, 10, 15]))  
print(setify([3, 3, 3, 2, 1]))

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

# Question 5
Create a function that returns the mean of all digits. <br>
Examples <br>
mean(42) ➞ 3 <br>
mean(12345) ➞ 3 <br>
mean(666) ➞ 6 <br>
Notes <br>
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in <br>
512 is (5+1+2)/3(number of digits) = 8/3=2). <br>
 The mean will always be an integer. <br>

In [5]:
def mean(num):
    digits = [int(digit) for digit in str(num)]
    return sum(digits) // len(digits)

# Examples
print(mean(42)) 
print(mean(12345))  
print(mean(666))

3
3
6